html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: black;
	height: 2.5rem;
}

header nav.redes ul {
	list-style: none;
	position: relative;
	right: 0;
	top: 0.7rem;

	margin: 0;
	display: flex;
	justify-content: flex-end;
}

nav.redes ul li a {
	color: white;
	background: none;
	text-decoration: none;
	margin: 0.1rem;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

main section {
	font-size: 1.3rem;
	margin: 1rem;
	width: 30%;
}

main section.introduction {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

main section.introduction h1 {
	margin: 1rem;
	font-size: 3rem;
	text-align: right;
}

main section.introduction h2 {
	margin: 0.25rem;
	text-align: right;
}

main section.introduction figure img {
	border-radius: 100%;
	border: 0.5rem solid black;
	height: 12rem;
}

a {
	background: rgb(90, 101, 197);
	padding: 1rem 1.5rem;
	margin: 0.5rem;
	color: white;
	text-decoration: none;
}

main section.sobreMi h1 {
	font-size: 6rem;
}

main section.textExtendido {
	flex-grow: 1;
}

main section figure {
	margin: 0;
}

main section figure img {
	object-fit: cover;
	width: 100%;
}

@media (max-width: 500px) {
	main section {
		width: 20rem;
	}

	main section.introduction h2 {
		font-size: 1.5rem;
	}

	main section p {
		font-size: 1.2rem;
	}
}
